@import "base";

.pure-g-r > div {
    box-sizing: border-box;
}

@label-font-size: 1.2*@font-size;
@todo-border-radius: 5px;

@high-color: @belize-hole;
@low-color: @nephritis;

.todo-list {
    color: white;
    h3 {
        font-size: 1.7*@font-size;
        text-align: center;
        margin-top: 0;
    }

    .complete {
        text-align: center;
    }

    .todo-list-box {
        padding: 5%;
        background-color: @wet-asphalt;
        border-radius: @todo-border-radius;
    }

    .todo {
        padding: 10px 0;
        label {
            font-size: @label-font-size;
            padding-left: 10px;
        }

        button.pure-button.icon-button {
            color: @pomegranate;
            background-color: @wet-asphalt;
            float: right;
            padding: 0 2px;
        }

        input[type=checkbox] {
            -webkit-appearance: none;
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../images/checkbox-blank.png);
            &:checked {
                background-image: url(../images/checkbox-checked.png);
            }
        }
    }

    form {
        @input-height: 37px;

        padding-top: 10px;

        input[type=text] {
            &:focus {
                border: none;
                box-shadow: none;
                outline-width: 0;
            }
            font-family: inherit;
            border-top-left-radius: @todo-border-radius;
            border-bottom-left-radius: @todo-border-radius;
            border: none !important;
            height: @input-height;
            -webkit-appearance: none;
            padding-left: 10px;
        }
        .add {
            height: @input-height;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: @todo-border-radius;
            border-top-right-radius: @todo-border-radius;
            font-size: @label-font-size;
            background-color: @emerland;
            border: none !important;
        }
    }

    @dot-size: 14px;
    .done-dot {
        width: @dot-size;
        height: @dot-size;
        margin-right: 10px;
        border-radius: @dot-size/2;
        display: inline-block;

        &.done-dot-high {
            background-color: @high-color;
        }

        &.done-dot-low {
            background-color: @low-color;
        }
    }
}
