@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
body {
  color: #2c3e50;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.231;
  background-color: #ecf0f1;
}
a {
  color: #16a085;
  text-decoration: underline;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
.pure-button {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 10px ;
}
.pure-g-r > div {
  box-sizing: border-box;
}
.todo-list {
  color: white;
}
.todo-list h3 {
  font-size: 23.8px;
  text-align: center;
  margin-top: 0;
}
.todo-list .complete {
  text-align: center;
}
.todo-list .todo-list-box {
  padding: 5%;
  background-color: #34495e;
  border-radius: 5px;
}
.todo-list .todo {
  padding: 10px 0;
}
.todo-list .todo label {
  font-size: 16.8px;
  padding-left: 10px;
}
.todo-list .todo button.pure-button.icon-button {
  color: #c0392b;
  background-color: #34495e;
  float: right;
  padding: 0 2px;
}
.todo-list .todo input[type=checkbox] {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/checkbox-blank.png);
}
.todo-list .todo input[type=checkbox]:checked {
  background-image: url(../images/checkbox-checked.png);
}
.todo-list form {
  padding-top: 10px;
}
.todo-list form input[type=text] {
  font-family: inherit;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none !important;
  height: 37px;
  -webkit-appearance: none;
  padding-left: 10px;
}
.todo-list form input[type=text]:focus {
  border: none;
  box-shadow: none;
  outline-width: 0;
}
.todo-list form .add {
  height: 37px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16.8px;
  background-color: #2ecc71;
  border: none !important;
}
.todo-list .done-dot {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border-radius: 7px;
  display: inline-block;
}
.todo-list .done-dot.done-dot-high {
  background-color: #2980b9;
}
.todo-list .done-dot.done-dot-low {
  background-color: #27ae60;
}
