@import "base";

.pure-g-r > div {
    box-sizing: border-box;
}

@label-font-size: 1.2*@font-size;

.todo label {
    font-size: @label-font-size;
    -webkit-user-select: none;
    user-select: none;
}

.todo-list {
    color: white;
    h3 {
        font-size: 1.5*@font-size;
        text-align: center;
        margin-top: 0;
    }
    .todo-list-wrapper {
        padding: 5%;
        background-color: @wet-asphalt;
        border-radius: 10px;
    }

    .todo {
        padding: 10px 0;
    }

    form {
        input[type=text] {
            width: 80%;
        }

        button {
            font-family: @font-family;
            font-size: @label-font-size;
            font-weight: bold;
            background-color: @emerland;
            color: white;
            // width: 15%;
        }
    }
}
