<html ng-app='workify' ng-csp>
    <head>
        <title>Page Blocked</title>
        <script src="components/lodash/dist/lodash.min.js"></script>
        <script src="components/angular/angular.js"></script>
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/flat-ui.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div id="blocked" ng-controller="BlockerCtrl">
            <h1>Workify has blocked this page for {{remaining}} seconds.</h1>
            <p ng-show="done">Page unblocked!</p>
        </div>

        <div id="todo" ng-controller="TodoCtrl">
            <h2>Here are some better things to do:</h2>
            <div ng-repeat="todo in todos">
                <input type="checkbox" id="done-{{todo.id}}" ng-model="todo.done" ng-click="save()">
                <label class="done-{{todo.done}} todo-label" for="done-{{todo.id}}">{{todo.title}}</label>
            </div>
        </div>

        <script src="scripts/app.js"></script>
        <script src="scripts/todo.js"></script>
        <script src="scripts/blocker.js"></script>
    </body>
</html>
