<html ng-app="workify" ng-csp>
    <head>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
        <link rel="stylesheet" href="styles/popup.css">
        <script src="components/lodash/dist/lodash.min.js"></script>
        <script src="components/angular/angular.js"></script>
    </head>
    <body>

        <div id="blocker" ng-controller="BlockCtrl">
            <form ng-submit="toggle()" class="block-form" ng-cloak>
                <button type="submit" ng-hide="blocked" class="pure-button block-button">Block this page</button>
                <button type="submit" ng-show="blocked" class="pure-button unblock-button">Unblock this page</button>
            </form>
        </div>


        <div class="todo-list" ng-controller="TodoCtrl">
            <div class="todo-list-box">
                <h3>Workify Task List</h3>
                <a ng-click="clearComplete()">clear complete</a>
                <div class="todo" ng-repeat="todo in todos">
                    <span class="done-dot done-dot-{{todo.energy}}"></span>
                    <input type="checkbox" id="todo-{{todo.id}}" ng-model="todo.done" ng-change="save()">
                    <label for="todo-{{todo.id}}">{{todo.title}}</label>
                </div>
                <form ng-submit="addTodo(todoInput, energy)" class="add-task">
                    <input type="text" class="add-input" ng-model="todoInput" placeholder="Add a task" autofocus>
                    <button type="submit" ng-click="energy='high'" class="pure-button add-high">Add High Energy</button>
                    <button type="submit" ng-click="energy='low'" class="pure-button add-low">Add Low Energy</button>
                </form>
            </div>
        </div>

        <script src="scripts/app.js"></script>
        <script src="scripts/todo.js"></script>
        <script src="scripts/block.js"></script>
    </body>
</html>
